.about {
    background-color: transparent;
    font-size: 1.2em
  }
  
  .profile {
    max-width: 18em;
    border-radius: 50%;
  }
  
  .my-details {
    background-color: rgba(255, 255, 255, 0.747);
  }
  .abouttext{
    font-size: 0.5em;
  }