.about {
   
    font-size: 1.2em;
   margin-bottom: 5rem;
  
    
  }
  
  .profile {
    max-width: 8em;
    border-radius: 50%;
   margin-left: 5rem;
   margin-top: 4rem;
   margin-bottom: 2rem;
    
  }
  
  .my-details {
    
  }
  .abouttext{
    font-size: 0.5em;
  }
  a:link{
    color:black
  }
  a:visited{
    color:black
  }
  a:active{
    color:black
  }