.project {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
}
.button {
  margin-right: 20px;
}
.book {
  height: 300px;
}
.phoneimage {
  max-width: 15em;
}
.booksharelogo {
  max-width: 10rem;
  margin-bottom: 3rem;
  margin-left: 5rem;
}
.epictvimage{
    max-width:15rem;
   
  
}
.header{
  font-weight: bold;
  font-size: 1.2rem;
  
 
}
